<div class="container">
    <h2>Adding Issue Stock</h2>
    <fieldset class="form-group">
        <label>Purchase Code</label>
        <input type="text" [(ngModel)]="shopEntry.purchaseCode" class="form-control" name="purchaseCode"
            required="required">
    </fieldset>

    <mat-form-field class="example-full-width">
        <mat-label>Issue From</mat-label>
        <mat-select [(ngModel)]="shopEntry.issueFrom" name="state">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of shops" value="{{state.shopName}}">
                {{state.shopName}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Issue To</mat-label>
        <mat-select [(ngModel)]="shopEntry.issueTo" name="state2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state2 of shops" value="{{state2.shopName}}">{{state2.shopName}}</mat-option>
        </mat-select>
    </mat-form-field>

    <fieldset class="form-group">
        <label>Date</label>
        <input type="date" [ngModel]="shopEntry.date | date:'yyyy-MM-dd' " class="form-control" name="date"
            required="required">
    </fieldset>

    <fieldset class="form-group">
        <label>Bottle/Case</label>
        <select name="select" class="form-control" [(ngModel)]="shopEntry.size">
            <option disabled>Select Brand Type</option>
            <option value='BOTTLE'>Bottle</option>
            <option value='CASE'>Case</option>
        </select>
    </fieldset>

    <table class="table">
        <thead>
            <tr>
                <th>Particulars</th>

                <th> Quarts </th>

                <th> Pints </th>

                <th> Nips </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let master of   items ">
                <td>
                    <input type="hidden" [(ngModel)]="master.brandName" name="brandName" class="form-control">
                    {{master.brandName}}
                </td>
                <td><input type="number" [(ngModel)]="master.quarts" class="form-control" name="quarts"
                        required="required"></td>
                <td> <input type="number" [(ngModel)]="master.pints" class="form-control" name="pints"
                        required="required"> </td>
                <td> <input type="number" [(ngModel)]="master.nips" class="form-control" name="nips"
                        required="required">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td>{{getTotalQuarts()}}</td>
                <td>{{getTotalPints()}}</td>
                <td>{{getTotalNips()}}</td>
            </tr>
        </tfoot>
    </table>
    <div class="absolute">
        <button type="button" class="btn btn-success" (click)="addToCart(shopEntry)">Save</button>
    </div>
</div>