<div class="container">

    <mat-form-field class="example-full-width">
        <mat-label>Select Shop</mat-label>
        <mat-select (selectionChange)="onSelectShop($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of shops" value="{{state.shopName}}">
                {{state.shopName}}</mat-option>
        </mat-select>
    </mat-form-field>

    <fieldset class="form-group">
        <label>Date</label>
        <input type="date" name="date" required="required">
    </fieldset>

    <table *ngIf="div1">
        <col>
        <colgroup span="3"></colgroup>
        <colgroup span="3"></colgroup>

        <tr>
            <td rowspan="2"></td>
            <th colspan="3" scope="colgroup">Opening</th>
            <th colspan="3" scope="colgroup">Transfer</th>
            <th colspan="3" scope="colgroup">Receipt</th>
            <th colspan="3" scope="colgroup">Sale</th>
            <th colspan="3" scope="colgroup">Closing Balance</th>
            <th colspan="3" scope="colgroup">Rate</th>
            <th colspan="3" scope="colgroup">Amount</th>
            <th colspan="3" scope="colgroup">Net Amount</th>
        </tr>
        <tr>
            <!-- Opening -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Transfer -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Receipt -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!--Sale -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Closing Balance-->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Rate -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Amount -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Net Amount -->
            <th scope="col">Total</th>
            <!-- <th scope="col">P</th>
            <th scope="col">N</th> -->
        </tr>
        <tr *ngFor="let master of   items ">

            <th scope="row">{{master.brandName}}
            </th>
            <!-- Opening -->
            <td>
                {{master.openingQuarts}}
            </td>
            <td>
                {{master.openingPints}}
            </td>
            <td>
                {{master.openingNips}}
            </td>
            <!-- Transfer -->
            <td>
                {{master.transferQuarts}}
            </td>
            <td>
                {{master.transferPints}}
            </td>
            <td>
                {{master.transferNips}}
            </td>
            <!-- Recipt -->
            <td>
                {{master.receiptQuarts}}
            </td>
            <td>
                {{master.receiptPints}}
            </td>
            <td>
                {{master.receiptNips}}
            </td>
            <!-- Sale -->
            <td>
                {{master.saleQuarts}}
            </td>
            <td>
                {{master.salePints}}
            </td>
            <td>
                {{master.saleNips}}
            </td>
            <!-- Closing Balance -->
            <td>
                <input type="number" style="width: 65px" name="cb1" required="required">
            </td>
            <td>
                <input type="number" style="width: 65px" name="cb3" required="required">
            </td>
            <td>
                <input type="number" style="width: 65px" name="cb2" required="required">
            </td>
            <!-- Rate -->
            <td>
                {{master.rateQuarts}}
            </td>
            <td>
                {{master.ratePints}}
            </td>
            <td>
                {{master.rateNips}}
            </td>
            <!-- Amount -->
            <td>
                {{master.receiptQuarts}}
            </td>
            <td>
                {{master.receiptPints}}
            </td>
            <td>
                {{master.receiptNips}}
            </td>
            <td>
                {{getNetAmount(master.receiptQuarts,master.receiptPints,master.receiptNips)}}
            </td>
        </tr>
        <tfoot>
            <tr>
                <td>Grand Total</td>
                <td>{{getTotalOpeningQuarts()}}</td>
                <td>{{getTotalOpeningPints()}}</td>
                <td>{{getTotalOpeningNips()}}</td>

                <td>{{getTotalTransferQuarts()}}</td>
                <td>{{getTotalTransferPints()}}</td>
                <td>{{getTotalTransferNips()}}</td>


                <td>{{getReceiptQuarts()}}</td>
                <td>{{getReceiptPints()}}</td>
                <td>{{getReceiptNips()}}</td>




            </tr>
        </tfoot>
    </table>

    <div class="absolute">
        <button type="button" class="btn btn-success" (click)="addToCart()">Save</button>
    </div>


</div>


<!-- <div class="container">
    <h2>Daily Sale</h2>
    <div class="row">
        <div class="column">
            <fieldset class="form-group">
                <label>Shop Name</label>
                <input type="text" class="form-control" required="required">
            </fieldset>
            <br>

            <fieldset class="form-group">
                <label>Opening</label>
               
                <table class="table">
                    <thead>
                        <tr>
                            <th> Quarts </th>

                            <th> Pints </th><br>

                            <th> Nips </th><br>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>abc</td>
                            <td>abcd</td> <br>
                            <td>abce</td><br>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset class="form-group">
                <label>Issue</label>
               
                <table class="table">
                    <thead>
                        <tr>
                            <th> Quarts </th>

                            <th> Pints </th><br>

                            <th> Nips </th><br>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>abc</td>
                            <td>abcd</td> <br>
                            <td>abce</td><br>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset class="form-group">
                <label>Total Sale</label>
               
                <table class="table">
                    <thead>
                        <tr>

                            <th> Quarts </th>

                            <th> Pints </th><br>

                            <th> Nips </th><br>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>abc</td>
                            <td>abcd</td> <br>
                            <td>abce</td><br>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset class="form-group">
                <label>Closing</label>
                <input type="text" required="required" class="form-control">
            </fieldset>
        </div>

        <div class="column">
            <fieldset class="form-group">
                <label>Receipt</label>
              
                <table class="table">
                    <thead>
                        <tr>
                            <th> Quarts </th>

                            <th> Pints </th><br>

                            <th> Nips </th><br>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>abc</td>
                            <td>abcd</td> <br>
                            <td>abce</td><br>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset class="form-group">
                <label>Sl</label>
              
                <table class="table">
                    <thead>
                        <tr>
                            <th> Quarts </th>

                            <th> Pints </th><br>

                            <th> Nips </th><br>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>abc</td>
                            <td>abcd</td> <br>
                            <td>abce</td><br>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset class="form-group">
                <label>Total</label>
                <input type="text" required="required" class="form-control">
            </fieldset>

            <fieldset class="form-group">
                <label>Rates</label>
               
                <table class="table">
                    <thead>
                        <tr>
                            <th> Quarts </th>

                            <th> Pints </th><br>

                            <th> Nips </th><br>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>abc</td>
                            <td>abcd</td> <br>
                            <td>abce</td><br>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    <div>
        <fieldset class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" name="date" required="required">
        </fieldset>

        

        <table class="table">
            <thead>
                <tr>
                    <th>Particulars</th>

                    <th> Quarts </th>

                    <th> Pints </th>

                    <th> Nips </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let master of   items ">
                    <td>
                        <input type="hidden" [(ngModel)]="master.brandName" name="brandName" class="form-control">
                        {{master.brandName}}
                    </td>
                    <td><input type="number" [(ngModel)]="master.quarts" class="form-control" name="quarts"
                            required="required"></td>
                    <td> <input type="number" [(ngModel)]="master.pints" class="form-control" name="pints"
                            required="required"> </td>
                    <td> <input type="number" [(ngModel)]="master.nips" class="form-control" name="nips"
                            required="required">
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>{{getTotalQuarts()}}</td>
                    <td>{{getTotalPints()}}</td>
                    <td>{{getTotalNips()}}</td>
                </tr>
            </tfoot>
        </table>

        <div class="absolute">
            <button type="button" class="btn btn-success" (click)="addToCart(shopEntry)">Save</button>
        </div>
    </div>
    

</div> -->