<div class="container">

    <mat-form-field class="example-full-width">
        <mat-label>Select Shop</mat-label>
        <mat-select (selectionChange)="onSelectShop($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of shops" value="{{state.shopName}}">
                {{state.shopName}}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- <fieldset class="form-group">
        <label>Date(No Need)</label>
        <input type="date" name="date" required="required">
    </fieldset> -->

    <table *ngIf="div1">
        <col>
        <colgroup span="3"></colgroup>
        <colgroup span="3"></colgroup>

        <tr>
            <td rowspan="2"></td>
            <th colspan="3" scope="colgroup">Opening</th>
            <th colspan="3" scope="colgroup">Transfer</th>
            <th colspan="3" scope="colgroup">Receipt</th>
            <th colspan="3" scope="colgroup">Sale</th>
            <th colspan="3" scope="colgroup">Closing Balance</th>
            <th colspan="3" scope="colgroup">Rate</th>
            <th colspan="3" scope="colgroup">Amount</th>
            <th colspan="3" scope="colgroup">Net Amount</th>
        </tr>
        <tr>
            <!-- Opening -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Transfer -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Receipt -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!--Sale -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Closing Balance-->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Rate -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Amount -->
            <th scope="col">Q</th>
            <th scope="col">P</th>
            <th scope="col">N</th>
            <!-- Net Amount -->
            <th scope="col">Total</th>
            <!-- <th scope="col">P</th>
            <th scope="col">N</th> -->
        </tr>
        <tr *ngFor="let master of   items">

            <th scope="row">{{master.brandName}}
            </th>
            <!-- Opening -->
            <td>
                {{master.openingQuarts}}
            </td>
            <td>
                {{master.openingPints}}
            </td>
            <td>
                {{master.openingNips}}
            </td>
            <!-- Transfer -->
            <td>
                {{master.transferQuarts}}
            </td>
            <td>
                {{master.transferPints}}
            </td>
            <td>
                {{master.transferNips}}
            </td>
            <!-- Recipt -->
            <td>
                {{master.receiptQuarts}}
            </td>
            <td>
                {{master.receiptPints}}
            </td>
            <td>
                {{master.receiptNips}}
            </td>
            <!-- Sale -->
            <td>
                {{master.saleQuarts}}
            </td>
            <td>
                {{master.salePints}}
            </td>
            <td>
                {{master.saleNips}}
            </td>
            <!-- Closing Balance -->
            <td>
                <input type="number" value="" [(ngModel)]="master.closingQuarts" style="width: 65px" required="required"
                    (keydown.enter)="findQuartsSale(master.brandName)">
            </td>
            <td>
                <input type="number" value="" [(ngModel)]="master.closingPints" style="width: 65px" required="required"
                    (keydown.enter)="findPintsSale(master.brandName)">
            </td>
            <td>
                <input type="number" value="" [(ngModel)]="master.closingNips" style="width: 65px" required="required"
                    (keydown.enter)="findNipsSale(master.brandName)">
            </td>
            <!-- Rate -->
            <td>
                {{master.rateQuarts}}
            </td>
            <td>
                {{master.ratePints}}
            </td>
            <td>
                {{master.rateNips}}
            </td>
            <!-- Amount -->
            <td>
                {{master.amountQuarts}}
            </td>
            <td>
                {{master.amountPints}}
            </td>
            <td>
                {{master.amountNips}}
            </td>
            <td>
                {{getNetAmount(master.amountQuarts,master.amountPints,master.amountNips)}}
            </td>
        </tr>
        <tfoot>
            <tr>
                <td>Grand Total</td>
                <td>{{getTotalOpeningQuarts()}}</td>
                <td>{{getTotalOpeningPints()}}</td>
                <td>{{getTotalOpeningNips()}}</td>

                <td>{{getTotalTransferQuarts()}}</td>
                <td>{{getTotalTransferPints()}}</td>
                <td>{{getTotalTransferNips()}}</td>


                <td>{{getReceiptQuarts()}}</td>
                <td>{{getReceiptPints()}}</td>
                <td>{{getReceiptNips()}}</td>


                <td>{{getSaleQuarts()}}</td>
                <td>{{getSalePints()}}</td>
                <td>{{getSaleNips()}}</td>


                <td>{{getClosingQuarts()}}</td>
                <td>{{getClosingPints()}}</td>
                <td>{{getClosingNips()}}</td>


                <td>{{getTotalRateQuarts()}}</td>
                <td>{{getTotalRatePints()}}</td>
                <td>{{getTotalRateNips()}}</td>


                <td>{{getAmountGrandTotalQuarts()}}</td>
                <td>{{getAmountGrandTotalPints()}}</td>
                <td>{{getAmountGrandTotalNips()}}</td>

                <td>{{getNetAmountGrandTotaal()}}</td>

            </tr>
        </tfoot>
    </table>

    <div>
        <label>G.Closing &nbsp;</label>{{groupCLosing}} &nbsp; {{groupClosingP}}
        &nbsp;{{groupClosingN}}
        <label>G.Total &nbsp;</label>{{gTotal}}
        <label>C.L. &nbsp;</label> {{clSale}}
        <label>B &nbsp;</label>{{bSale}}
        <label>IMFL &nbsp;</label>{{imflSale}}
        <label>Total &nbsp;</label>{{totalCLBIMFL()}}
        <label>Net Receive &nbsp;</label>{{getNetAmountGT}}
    </div>

    <div style="width:100%">
        <table id="table" style="display: inline-block">

            <tr>
                <th>Expense</th>
                <th>Values</th>
            </tr>
            <tr>
                <td> Shop Expense </td>
                <td><input type="number" onfocus="this.value=''" style="width: 65px" [(ngModel)]="shopExpense"
                        (keydown.enter)="getExpense($event)"></td>
            </tr>
            <tr>
                <td> Commission </td>
                <td><input type="number" onfocus="this.value=''" style="width: 65px" [(ngModel)]="commission"
                        (keydown.enter)="getExpense($event)"></td>
            </tr>
            <tr>
                <td> Rate Deff(DR) </td>
                <td><input type="number" onfocus="this.value=''" style="width: 65px" [(ngModel)]="rateDiff"
                        (keydown.enter)="getExpense($event)"></td>
            </tr>
            <tr>
                <td> Breakage </td>
                <td><input type="number" onfocus="this.value=''" style="width: 65px" [(ngModel)]="breakage"
                        (keydown.enter)="getExpense($event)"></td>
            </tr>
            <tr>
                <td> W Exp </td>
                <td><input type="number" onfocus="this.value=''" style="width: 65px" [(ngModel)]="wineExp"
                        (keydown.enter)="getExpense($event)">
                </td>
            </tr>
            <tr>
                <td> DR </td>
                <td><input type="number" onfocus="this.value=''" style="width: 65px" [(ngModel)]="dr"
                        (keydown.enter)="getExpense($event)"></td>
            </tr>
            <tr>
                <td>Total Expense</td>
                <td>{{getTotalExpense}}</td>
            </tr>
            <tr>
                <td> Particulars </td>
                <td><textarea></textarea></td>
            </tr>
        </table>

        <table id=" table2" style="float: right;">
            <tbody>
                <tr>
                    <th>Receive</th>
                    <th>Values</th>
                </tr>
                <tr>
                    <td> Rate Diff(CR) </td>
                    <td><input type="number" onfocus="this.value=''" style="width: 65px" [(ngModel)]="rateDiffCR"
                            (keydown.enter)="getReceive($event)"></td>
                </tr>
                <tr>
                    <td> A Income </td>
                    <td><input type="number" onfocus="this.value=''" style="width: 65px" [(ngModel)]="aIncome"
                            (keydown.enter)="getReceive($event)"></td>
                </tr>
                <tr>
                    <td> Fine </td>
                    <td><input type="number" onfocus="this.value=''" style="width: 65px" [(ngModel)]="fine"
                            (keydown.enter)="getReceive($event)"></td>
                </tr>
                <tr>
                    <td> CR </td>
                    <td><input type="number" onfocus="this.value=''" style="width: 65px" [(ngModel)]="cr"
                            (keydown.enter)="getReceive($event)"></td>
                </tr>
                <tr>
                    <td>Total Receive</td>
                    <td>{{getReceiveAmount}}</td>
                </tr>
                <tr>
                    <td> Particulars </td>
                    <td><textarea></textarea></td>
                </tr>

            </tbody>
        </table>
    </div>



    <div>

        <!-- <label>make separate functions for G.Closing and G.Total,CL, B, Imfl and use local variable instead of global
            bec. values are changing if writing CB
            again if not possible make a clear button</label> -->
    </div>

    <div class="absolute">
        <button type="button" class="btn btn-success" (click)="addToCart()">Save</button>
    </div>


</div>