<div class="container" id="navigation">
    <div class="row">
        <div class="col text-center">
            <!-- <div>
                <button routerLink="/masterBrand" class="btn btn-info">Master Brand Name</button>
            </div> -->
            <!-- <div>
                <button routerLink="/masterBrandList" class=buttons>Add/Modify/Delete Parcha</button>
            </div> -->
            <BR>
            <div>
                <button routerLink="/daiyPurchase" class=buttons>Purchase</button>
            </div>
            <BR>
            <div>
                <button routerLink="/issueStock" class=buttons>Issue Stock</button>
            </div>
            <BR>
            <div>
                <button routerLink="/dailySale" class=buttons>Sale</button>
            </div>
        </div>
    </div>
</div>