<div class="container" id="navigation">
    <div class="row">
        <div class="col text-center">
            <!-- <div>
                <button routerLink="/masterBrand" class="btn btn-info">Master Brand Name</button>
            </div> -->
            <div>
                <button routerLink="/masterBrandList" class="btn btn-info">Add/Modify/Delete Parcha</button>
            </div>
            <BR>
            <div>
                <button routerLink="/daiyPurchase" class="btn btn-info">Purchase</button>
            </div>
            <BR>
            <div>
                <button (click)="getWelcomeMessage()" class="btn btn-info">Issue Stock</button>
            </div>
        </div>
    </div>
</div>