<div class="container" id="navigation">
    <div class="row">
        <div class="col text-center">
            <!-- <div>
                <button routerLink="/masterBrand" class="btn btn-info">Master Brand Name</button>
            </div> -->
            <div>
                <button routerLink="/masterBrandList" class="btn btn-info">Master Brand</button>
            </div>
            <BR>
            <div>
                <button routerLink="/addingParcha" class="btn btn-info">Adding Parcha Types</button>
            </div>
            <BR>
            <div>
                <button routerLink="/addingShop" class="btn btn-info">Master Shop Entry</button>
            </div>
            <BR>
            <div>
                <button (click)="getWelcomeMessage()" class="btn btn-info">Deleting Parcha Types</button>
            </div>
            <BR>
            <div>
                <button (click)="getWelcomeMessage()" class="btn btn-info">Copy Parcha</button>
            </div>


        </div>
    </div>
</div>